.barber-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    > .container {
        display: flex;
        justify-content: space-between;
    }
}

.barber-footer__p {
    @include font(11px, 600, calc(15 / 11), 0.2em, var(--pricing-color));
}

.barber-footer__list {
    display: flex;
    align-items: center;
    gap: 44px;
    color: var(--about-color);

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: currentColor;
    }
}

.barber-footer__list-item {
    display: flex;
    align-items: center;
}

.barber-footer__item-link {
    @include font(11px, 600, calc(15 / 11), 0.2em, var(--about-color));

    color: var(--about-color);

    transition: color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover, &:focus {
        color: var(--barber-color);
    }
}