.section-about {
    padding-top: 130px;
    padding-bottom: 130px;

    > .container {
        display: flex;
        align-items: center;
        gap: 64px;
    }

        @media screen and (max-width: 479px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-about__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 767px) {
        display: block;
    }
}
.section-about__wrap {

}
.section-about__list-item {
        @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.section-about__item-img {}

.section-about__about-p {
    text-transform: uppercase;
    margin-bottom: 20px
}

.section-about__h2 {
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
        @include font(28px, 700, calc(33 / 28), 00.05em, var(--about-color));
    }
}

.section-about__p {
    @include font(18px, 400, calc(30 / 18), 0.05em, var(--p-color));
    margin-bottom: 20px
}

.section-about__text {
    @include font(14px, 400, calc(26 / 14), 0.02em, var(--p-color));
    margin-bottom: 40px;
    max-width: 500px;
}