.section-barbers {
    padding-top: 120px;
    padding-bottom: 130px;

    background-color: var(--light-gray);


}

.section-barbers__about-p {
    text-transform: uppercase;
    color: var(--about-color);
    margin-bottom: 20px;
}

.section-barbers__h2 {
    margin-bottom: 44px;
}

.section-barbers__list {
    display: flex;
    justify-content: space-between;
}

.section-barbers__list-item {
    width: calc((100% - 3*20px) / 3);

    


    
}

.section-barbers__item-link {}

.section-barbers__link-div {}

.section-barbers__img-wrap {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

        &:hover {
        .section-barbers__img-info {
            transform: translateY(0%);
        }
    }
}

.section-barbers__div-img {
    overflow: hidden;
}

.section-barbers__img-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    width: 100%;
    height: 100%;

    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: #ff6a0089;

    transform: translateY(-100%);

    transition: transform 250ms linear;
}

.section-barbers__div-h3 {
    margin-top: 30px;
    margin-bottom: 8px;
    @include font(18px, 400, calc(25 / 18), 0.02em, var(--about-color));
    text-align: center;
}

.section-barbers__div-p {
    @include font(14px, 400, calc(19 / 14), 0.02em, var(--barber-color));
    text-align: center;
    margin-bottom: 30px;
}

.section-barbers__div-div2 {}

.section-barbers__div2-list2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section-barbers__list2-item2 {

}

.section-barbers__item2-link2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: white;

    color: var(--about-color);

    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover, &:focus {
        color: var(--barber-color);
    }
    
}

.section-barbers__link2-svg {
    fill: currentColor;
}

.section-barbers__svg-use {}