.section-gallery {
    padding-top: 130px;
    padding-bottom: 130px;

    > .container {
        @media screen and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.section-gallery__about-p {
    text-transform: uppercase;
    margin-bottom: 44px;

    color: var(--about-color);
}

.section-gallery__h2 {

}

.section-gallery__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.section-gallery__list-item {

}

.section-gallery__item-img {}