.section-pricing {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #303030;
    background-image: url('/src/images/pricing.png'), linear-gradient(60deg, #212121, var(--about-color));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('/src/images/pricing-2x.png'), linear-gradient(60deg, #212121, var(--about-color));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

    .booking-button {
        color: #ffffff;
    }

        @media screen and (max-width: 479px) {
        background-image: url('/src/images/mobpricing1x.png'), linear-gradient(60deg, #212121, var(--about-color));
        padding-top: 40px;
        padding-bottom: 40px;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('/src/images/mobpricing2x.png'), linear-gradient(60deg, #212121, var(--about-color));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    }

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        background-image: url('/src/images/tabpricing.png'), linear-gradient(60deg, #212121, var(--about-color));
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('/src/images/tabpricing-2x.png'), linear-gradient(60deg, #212121, var(--about-color));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    }

}
.centered {
    display: block;
    margin: 0 auto;
    
}

.section-pricing__about-p {
    text-transform: uppercase;
    margin-bottom: 20px;

        &.pretitle {
        color: rgba(157, 164, 189, 0.6);
    }
}

.section-pricing__h2 {
    color: #ffffff;
    margin-bottom: 44px;

        @media screen and (max-width: 767px) {
        @include font(40px, 700, calc(47 / 40), 00.05em, #ffffff);
    }
}

.section-pricing__div {
    display: flex;
    margin-bottom: 44px;
    gap: 30px;

}

.section-pricing__div-list {
    width: calc(50% - 15px);
    padding: 30px 40px;
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    
    &:nth-child(2) {
        background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
        @media screen and (max-width: 1199px) {
        display: none;
    }
}
.section-pricing__list-full {
    display: none;

    width: 100%;
    padding: 30px 40px;
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);

    @media screen and (max-width: 1199px) {
        display: block;
    }
}
.section-pricing__list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;

    margin-bottom: 20px;

            &::before {
        content: '';
        height: 1px;
        width: 1px;
        flex-grow: 1;
        background-color: rgba(157, 164, 189, 0.12);
        margin: 0 12px;
    }
}

.section-pricing__item-p {
    @include font(18px, 400, calc(30 / 18), 0.1em, var(--pricing-color));

        &:first-child {
        order: -1;
    }

    @media screen and (max-width: 767px) {
        @include font(14px, 400, calc(20 / 14), 0.1em, var(--pricing-color));
    }
}

