.section-reason {
    padding-top: 130px;
    padding-bottom: 130px;


    > .container {
        display: flex;
        align-items: baseline;
        justify-content: space-around;

        @media screen and (max-width: 1199px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.section-reason__block-wrap {
    display: flex; 
    gap: 30px;



    @media screen and (max-width: 1199px) {
        margin-top: 44px;
    margin-left: auto;
    }
    @media screen and (max-width: 767px) {
        margin: 0;
    }

}
.section-reason__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.two {
    margin-top: 30px;
}

.section-reason__list-item {}

.section-reason__item-div {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;
    background-color: var(--light-gray);

    @media screen and (max-width: 767px) {
        width: 193px;
    }
}

.section-reason__div-span {
    @include font(42px, 700, calc(57 / 42), 0.05em, var(--about-color));
}

.section-reason__span-sup {
    @include font(16px, 600, calc(22 / 16), null, var(--barber-color));
}

.section-reason__div-p {
    @include font(11px, 600, calc(15 / 11), null, var(--about-color));

}

.section-reason__wrap {

}
.section-reason__about-p {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-reason__h2 {
    margin-bottom: 20px;
}

.section-reason__p2 {
    @include font(18px, 400, calc(30 / 18), 0.02em, var(--p-color));

    @media screen and (max-width: 767px) {
        margin-bottom: 44px;
    }
}